body{background-color:#E3FDFD}

hr{
   border-style:none;
   border-top-style: dotted;
   border-color:grey;
   border-width:5px;
   width:7%}

img{height: 150px;
    width: 130px;
    border-radius: 50%;
    border-color: #71C9CE}

h1{color: #71C9CE;}
h3{color: #71C9CE;}

div{margin: 5% 15%;
    padding: 30px;
    width: 65%;
    border-radius: 8px;
    box-shadow: 3px 3px 20px lightgrey;
